* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 20px;
  list-style-type: none;
  text-decoration: none;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  min-height: 40px;
  background-color: #292929;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px;
  gap: 9px 15px;
}

.nav {
  display: flex;
  gap: 20px;
}

.nav-items a {
  font-size: 18px;
  padding: 6px;
  color: white;
  border-bottom: solid 2px transparent;
  transition: 0.4s ease-in-out;
}

.nav-items a:hover {
  border-bottom: solid 2px red;
}

.title {
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top: 20px;
}

.descriptionTitle {
  text-align: center;
  color: #383838;
}

.gridContainer {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "mainContent sidebarContent";
  padding: 20px;
  flex: 1 0 auto;
}

.mainContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.card-img {
  width: 100%;
  height: 180px;
  border-radius: 10px;
}

.sidebar-img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.card {
  width: 280px;
  height: 380px;
  border: 2px solid transparent;
  border-radius: 10px;
  transition: 0.4s;
  cursor: pointer;
}

.card:hover {
  border: 2px solid black;
}

.title-card {
  font-family: Arial, Helvetica, sans-serif;
  padding: 6px;
}

.description-card {
  padding: 6px;
}


.sidebarContent {
  background-color: #383838;
  color: white;
  padding: 16px;

}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  grid-area: sidebar-nav;
  gap: 20px;
}

.sidebarCard {
  width: 75%;
  border: solid 2px transparent;
  cursor: pointer;
  transition: 0, 4s ease-in-out;
}

.sidebarCard:hover {
  border: solid 2px white;
  border-radius: 10px;
}

.sidebar-title-card {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;

}

.footer {
  width: 100%;
  min-height: 40px;
  background-color: #292929;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px;
  gap: 15px;
}

.footer-anchor {
  color: white;
}


@media (max-width:635px) {
  .gridContainer {

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-items a {
    padding: 0px;
  }
  .descriptionTitle{
    font-size: 17px;
  
  }

  .sidebarContent {
    min-width: auto;
  }
 .description-card{
    font-size: 16px;
  }


  .footer-anchor {
    font-size: 16px;
  }
}

@media (max-width:470px) {
 
  .header {
    justify-content: center;
  }

  .footer {
    justify-content: center;
  }
}